<div class="flex flex-row">
  <div class="flex flex-column" style="width: 90%">
    <div class="flex flex-row" style="width: 100%">
      @for (_ of dataService.boxes || []; track $index) {
        <app-clickable-box [index]="$index"/>
      }
    </div>
  </div>
  <div class="flex flex-column justify-center align-center" style="width: 10%">
    <div class="flex flex-row justify-center" style="width: 100%">
      <div class="flex flex-column align-center justify-start" style="margin: 10px" >
        <button mat-mini-fab  style="margin: 10px"  (click)="resetBoxValues()">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="flex flex-row">
          <span class="flex flex-column"  style="font-size: 8px" >Total value : {{ calculateTotalSum()  }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
@if (dataService.selectedBoxIndex !== null) {
  <app-key-pad class="flex" [index]="dataService.selectedBoxIndex!"/>
}
